@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;500;800&display=swap");

:root {
  --primary-red: hsl(1, 90%, 64%);
  --primary-blue: hsl(219, 85%, 26%);
  --white: hsl(0, 0%, 100%);
  --verylight-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-grayish-blue: hsl(224, 21%, 14%);
}

body {
  font-size: 15px;
  font-family: "Plus Jakarta Sans", sans-serif;
  width: 100vw;
  background-color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 700px;
  margin: 2.5rem auto;
  padding: 1rem 1.5rem;
  border: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  background-color: #fff;
}

.header {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 10px 0;
}

.header h3 {
  display: inline-block;
  padding-right: 10px;
}

.header > *:first-child {
  flex: 1;
  position: relative;
}

.header span {
  font-size: 13px;
  padding: 1px 5px;
  background-color: var(--primary-blue);
  border-radius: 5px;
  color: #fff;
  position: absolute;
  bottom: 3px;
}

.header > *:last-child {
  color: var(--grayish-blue);
}
